
# Editor files
*~
.*.sw?

# Python files
*.py[cod]
build/

# LaTeX docs
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo


example/volume.cfg

example/totalmesh_merged.xml

*.e

*.cub

example/volume.cfg

example/output/quality_00000

example/output/blocks_00000

example/volume.cfg

example/volume.cfg

example/cubit01.jou

example/blocks.dat

example/volume.cfg

example/nummaterial_velocity_file

example/nodes_coords_file

example/mesh_file

example/materials_file

example/free_or_absorbing_surface_file_zmax

example/absorbing_surface_file_ymin

example/absorbing_surface_file_ymax

example/absorbing_surface_file_xmin

example/absorbing_surface_file_xmax

example/absorbing_surface_file_bottom

example/MESH/nummaterial_velocity_file

example/MESH/nodes_coords_file

example/MESH/mesh_file

*.cfg

example/MESH/materials_file

example/MESH/free_or_absorbing_surface_file_zmax

example/MESH/absorbing_surface_file_ymin

example/MESH/absorbing_surface_file_ymax

example/MESH/absorbing_surface_file_xmin

example/MESH/absorbing_surface_file_xmax

example/MESH/absorbing_surface_file_bottom

*.jou

example/trash.txt

MESH_GEOCUBIT/blocks_00000

MESH_GEOCUBIT/quality_00000
