build/*

*.pyc

build/lib/GEOCUBIT.py

build/scripts-2.5/GEOCUBIT.py

build/lib/geocubitlib/volumes.py

build/lib/geocubitlib/utilities.py

build/lib/geocubitlib/utilities.py

build/lib/geocubitlib/start.py

build/lib/geocubitlib/read_parameter_cfg.py

build/lib/geocubitlib/mesh_volume.py

build/lib/geocubitlib/menu.py

build/lib/geocubitlib/local_volume.py

build/lib/geocubitlib/exportlib.py

build/lib/geocubitlib/cubit2specfem3d.py

build/lib/geocubitlib/boundary_definition.py

build/lib/geocubitlib/boundary_definition.py
